<!DOCTYPE html>
<html>
  <head>
    <title>YupApps</title>
    <%= render "layouts/shared/headers" %>
    
  </head>

  <body>
    <%= yield %>

    <%= render "layouts/shared/js" %>
  </body>
</html>
